NX_DB_HOST=localhost
NX_DB_PORT=5432
NX_DB_USERNAME=postgres
NX_DB_PASSWORD=
NX_DB_DATABASE=bhchp
AWS_BUCKET_NAME=
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_SENDER_EMAIL=
VITE_S3_BUCKET_ADDR=
VITE_COGNITO_USER_POOL_ID=
COGNITO_USER_POOL_ID=
# Don't use the client Id that has the secret, as secret can get exposed in the frontend.
VITE_COGNITO_APP_CLIENT_ID=
# Use the client Id that has the secret, backend can use the secret for more securtity
COGNITO_APP_CLIENT_ID=
COGNITO_CLIENT_SECRET=
